/* make our pages be full width and full height */


/* positioned absolutely so that the pages can overlap each other as they enter and leave */

.page {
    bottom: 0;
    padding-top: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.page h1 {
    font-size: 60px;
}

.page a {
    margin-top: 50px;
}


/* PAGES (specific colors for each page)
============================================================================= */

.page-home {
    background: #00D0BC;
    color: #00907c;
}

.page-about {
    background: #E59400;
    color: #a55400;
}

.page-contact {
    background: #ffa6bb;
    color: #9e0000;
}


/* ANIMATIONS
============================================================================= */


/* leaving animations ----------------------------------------- */


/* rotate and fall */




/* style.css */

.ng-enter {
    animation: scaleUp 0.5s both ease-in;
    z-index: 8888;
}

.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}

.ng-enter {
    z-index: 8888;
}

.ng-leave {
    z-index: 9999;
}


/* page specific animations ------------------------ */


/* home -------------------------- */

.page-home.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}

.page-home.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}


/* about ------------------------ */

.page-about.ng-enter {
    animation: slideInRight 0.5s both ease-in;
}

.page-about.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
}


/* contact ---------------------- */

.page-contact.ng-leave {
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-contact.ng-enter {
    animation: slideInUp 0.5s both ease-in;
}